.navbar-inverse {
  background-color: #333;
  border-color: #333;
  height: 60px;
}

.navbar-brand {
	font-size: 2em;
}
.tab-pane {
	padding-top: 1em;
}

body.application {
  background: #f2f2f2;
  padding: 80px 20px 0;
}

.navbar-brand-img {
	padding-top: 0;
}